.resultsWrap {
  border-radius: 12px;
  background-color: var(--color-grey);
  padding: 24px;
  position: relative;
  top: -12px;
  width: 100%;
}

.resultsTitle {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}